<div class="start-wrapper">
  <h1>Welcome to the Clothing Donation e.V.</h1>

  <div class="description-text">
    <!--<div class="image">
      <img alt="jeans stack" src="assets/jeans-g51d64e4b5_1920.jpg">
    </div>-->
    <div class="text">
      <section>
        Our charity is on a mission to help people in need by providing them
        with clothing and other goods. We collect clothing donations from the
        community and distribute them to needy people in our area.
      </section>
      <section>
        We believe that everyone has the right to feel warm and clothed, and we
        are committed to ensuring that no one is left without access to clean
        and appropriate clothing due to poverty or other challenges.
      </section>
      <section>
        If you would like to donate clothing or other goods, please feel free to
        contact us or come directly to one of our collection points. We
        appreciate every donation and are grateful for any support we receive.
        Together we can make a difference and help more people feel well dressed
        and appreciated.
      </section>
    </div>
  </div>

  <div class="call-to-action-wrapper">
    <button [routerLink]="['register']">Donate your old clothes now</button>
  </div>

  <!--<h2>Our successes through your help</h2>-->
</div>
